{% extends 'base.html' %}
{% load static %}
{% load user_filters %}

{% block head %}
    <title>Избранное</title>
    <link rel="stylesheet" href="../../static/pages/index.css">
{% endblock %}

{% block main %}
    <main class="main container">

        <div class="main__header">
            <h1 class="main__title">Избранное</h1>
            {% include "includes/tags.html" %}
        </div>

        <div class="card-list">
            {% for recipe in page %}
                {% include "includes/recipeCard.html" %}
            {% endfor %}
        </div>

        {% include "includes/paginator.html" %}

    </main>
{% endblock %}

{% block js %}
    <script src="../../static/js/components/MainCards.js"></script>

    <script src="../../static/js/components/Purchases.js"></script>
    <script src="../../static/js/components/Favorites.js"></script>

    <script src="../../static/js/config/config.js"></script>
    <script src="../../static/js/components/CardList.js"></script>
    <script src="../../static/js/components/Header.js"></script>

    <script src="../../static/js/api/Api.js"></script>
    <script src="../../static/js/pages/favorite.js"></script>
{% endblock %}