<header class="header">
    <nav class="nav">
        <div class="nav__container container">
            <ul class="nav__items list">
                {% with request.resolver_match.url_name as url_name %}
                        <li class="nav__item {% if 'index' in url_name %}nav__item_active{% endif %}"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
                    {% if user.is_authenticated %}
                        <li class="nav__item {% if 'my_follow' in url_name %}nav__item_active{% endif %}"><a href="{% url 'my_follow' %}" class="nav__link link">Мои подписки</a></li>
                        <li class="nav__item {% if 'new_recipe' in url_name %}nav__item_active{% endif %}"><a href="{% url 'new_recipe' %}" class="nav__link link">Создать рецепт</a></li>
                        <li class="nav__item {% if 'favorite' in url_name %}nav__item_active{% endif %}"><a href="{% url 'favorite' %}" class="nav__link link">Избранное</a></li>
                        <li class="nav__item {% if 'shopping_list' in url_name %}nav__item_active{% endif %}"><a href="{% url 'shopping_list' %}" class="nav__link link">Список покупок</a>
                            {% if user.basket.count > 0 %}<span class="badge badge_style_blue nav__badge" id="counter" style="display: block;">{{ user.basket.count }}</span>
                            {% else %}<span class="badge badge_style_blue nav__badge" id="counter" style="display: none;"></span>
                            {% endif %}</li>
                    {% endif %}
                {% endwith %}
            </ul>
            <ul class="nav__items list">
                {% if user.is_authenticated %}
                    <li class="nav__item"><a href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a></li>
                    <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
                {% else %}
                    <li class="nav__item"><a href="{% url 'login' %}" class="nav__link link">Войти</a></li>
                    <li class="nav__item"><a href="{% url 'signup' %}" class="button button_style_blue">Создать аккаунт</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>