{% extends 'base.html' %}
{% load static %}
{% load user_filters %}

{% block head %}
    <title>Новый пароль</title>
    <link rel="stylesheet" href="{% static './pages/form.css' %}">
{% endblock %}

{% block main %}
    {% if validlink %}
        <main class="main container">
            <div class="main__header">
                <h1 class="main__title">Введите новый пароль</h1>
            </div>

            <div class="form-container">
                <form class="form" method="post">

                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form__group" >
                            <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                            <div class="form__field-group">
                                {{ field|addclass:"form__input" }}
                                {% if field.help_text %}
                                    <small id="{{ field.id_for_label }}-help" class="form__input-info">{{ field.help_text|safe }}</small>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="form__group">
                        <button class="button button_style_blue">Назначить новый пароль</button>
                    </div>
                </form>
            </div>
        </main>
    {% else %}
        <main class="main container">
            <div class="main__header">
                <h1 class="main__title">Ошибка</h1>
                <p class="form__forgot-link">Ссылка сброса пароля содержит ошибку или устарела.</p>
                <p class="form__forgot-link"><a href="{% url  'index' %}">Вернуться на главную</a></p>
            </div>
        </main>
    {% endif %}
{% endblock %}
